ion-page {
  --background: #000;
}
ion-content{
  --background: #f1f2f4;
  --padding-start: 50px;
  --padding-top: 50px;
  --padding-bottom: 50px;
  --padding-end: 50px;
}

ion-list{
  --background: red;
}

ion-toolbar{
  --background: 'transparent' ;
  --min-height: 80px;
}

html{
  --ion-safe-area-left: 25px;
}
